<head>
    @{
        ViewData["Title"] = "Error";
    }
</head>
<body>
    <div class="alert alert-primary" role="alert">
        Wrong file extensions. <a href="http://localhost:55134/Home" class="alert-link">Сlick here</a>, to go back.
    </div>
</body>
